.under_construction_main {
   height: 87.5vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.under_construction_block {
   width: 50%;
   height: 40%;
   background-color: #242f39;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   box-shadow: rgb(0, 0, 0) 5px 5px 50px;
}

.under_construction_title {
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 2vh;
   color: rgb(198, 215, 219);
   text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.under_construction_subtitle {
   font-size: 24px;
   color: rgb(198, 215, 219);
   text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}
